html,
body {
  background-color: lightslategrey;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: verdana;
}

h1 {
  color : white;
  font-size: 50px;
}

p {
  color: white;
  font-size: 20px;
}

a {
  color: lightblue;
  font-size: 20px;
}

img{
  width: 25%;
}